

body{
    background-color:beige ;
}

.styleDict{
    background-color: salmon;
}

.styleWeather{
    background-color: salmon;
}

.styleProfile{
    background-color: salmon;
}

p{
    font-size: large;
    font-weight: bold;
}

@media(max-width:800px){
    body{
        background-color: lightblue;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.row{
    text-align: center;
}